{% extends "base.html" %}

{% block main_content %}

<style>
    main {
        background-image: url("{{ url_for('static', filename='about_page.jpg') }}" );
    }
</style>

<section id="about_page" class="not_form_mains">
    
     
    <nav>
        <ul>
            <li><a id="refresh" href="{{ url_for('about_page')}}">↻</a></li>
            {% if g.admin != None %}
                <li><a href="{{ url_for('admin_page') }}">Admin Page</a></li>
            {% elif g.employee != None %}
                <li><a href="{{ url_for('employee_page') }}">Employee Page</a></li>
            {% endif %}
            <li><a href="{{ url_for('index') }}">Homepage</a></li>
            <li><a href="{{ url_for('donate') }}">Donate</a></li>
            <li><a href="{{ url_for('bookings')}}">Book Tickets &#x2192</a></li>
        </ul>
    </nav>

    <main>
        <section id="about">
            <h2>About Us</h2>
            <p> We first opened in September 2014, and have been up and running every since.
                We may not be Ireland's biggest Zoo, but we like to think it is most definitely worth visiting us.
            </p>

            <p> Come visit our range of over 200 animals, some of which you'll learn about on this very website. </p>
            <p> We look forward for your visit.</p>
        </section>
    </main>

    <aside id="open_hours">
        <section>
            <h2>Opening Hours</h2>
            <p>We're open 9.00am - 5.30pm everyday besides select holidays.</p>
            <p>We can't wait for your visit.</p>
        </section>
    </aside>

    <aside id="reviews">
        <h2>Most recent reviews</h2>
        <section id="latest_reviews">
            {% for review in reviews %}
                <section class="review">
                    <p>Name: {{ review["name"] }}</p>
                    <p class="review_content">{{ review["review"] }}</p>
                    <p>Stars: {{ '★' * review["stars"]}}</p>
                </section>
            {% endfor %}
        </section>

        <p class="links"><a href="{{ url_for('review') }}">Write a review</a></p>
        <p class="links"><a href="{{ url_for('reviews')}}">See all reviews &#x2192</a></p>
    </aside>


    <footer>
        <section>
            <h2>Useful Links</h2>
            <ul>
                <li><a href="{{ url_for( 'contact_page') }}">Contact us</a></li>
                <li><a href="{{ url_for( 'about_page') }}">About us</a></li>
                <li><a href="{{ url_for( 'view_bookings') }}">Bookings</a></li>
                <li><a href="{{ url_for( 'review') }}">Leave a review</a></li>
            </ul>
        </section>


        {% if g.admin != None %}
            <p id="logout"><a href="{{ url_for('logout') }}">Admin - Log out &#x2192</a></p>
        {% elif g.employee != None %}
            <p id="logout"><a href="{{ url_for('logout') }}">Employee - Log out &#x2192</a></p>
        {% elif g.user == None %}
            <p id="login"><a href="{{ url_for('login') }}">Log in &#x2192</a></p>
        {% else %}
            <p id="logout"><a href="{{ url_for('logout') }}">Log out &#x2192</a></p>
        {% endif %}
        <p> Copyright © All About: Anois National Zoo. All Rights Reserved</p>


    </footer>
</section>

{% endblock %}