{% extends "base.html" %}

{% block main_content %}

<section id="admin_page">
    <nav>
        <ul>
            <li><a id="refresh" href="{{ url_for('admin_page')}}">↻</a></li>
            <li><a href="{{ url_for('index') }}">Homepage</a></li>
            <li><a href="{{ url_for('donate') }}">Donate</a></li>
            <li><a href="{{ url_for('bookings')}}">Book Tickets &#x2192</a></li>
        </ul>
    </nav>

    <main id="admin_main">
        <section id="admin_services" class="section">
            <h3>Admin Services</h3>
            <div class="service-card-grid">
                <div class="service-card">
                    <a href="{{ url_for('delete_review') }}">Delete a Review</a>
                </div>
                <div class="service-card">
                    <a href="{{ url_for('add_employee_info') }}">Add Employee Info</a>
                </div>
                <div class="service-card">
                    <a href="{{ url_for('delete_employee_info') }}">Delete Employee Info</a>
                </div>
                <div class="service-card">
                    <a href="{{ url_for('add_animal_info') }}">Add Animal Info</a>
                </div>
                <div class="service-card">
                    <a href="{{ url_for('delete_animal_info') }}">Delete Animal Info</a>
                </div>
            </div>
        </section>

        <section id="inbox" class="section">
            <h4>Inbox</h4>
            {% if requests %}
            <div class="request-grid">
                {% for request in requests %}
                    <div class="request-card">
                        <p><strong>Employee ID:</strong> {{ request["employee_id"] }}</p>
                        <p><strong>Name:</strong> {{ request["name"] }}</p>
                        <p><strong>Beginning Date:</strong> {{ request["date_begin"] }}</p>
                        <p><strong>End Date:</strong> {{ request["date_end"] }}</p>
                        <p><strong>Reason:</strong> {{ request["reason"] }}</p>
                        <div class="request-actions">
                            <a href="{{ url_for('admin_page', action='accept') }}">Accept</a>
                            <a href="{{ url_for('admin_page', action='deny') }}">Deny</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% else %}
                <p>No current requests.</p>
            {% endif %}
        </section>
    </main>

    <footer class="site-footer">
        <div class="footer-content">
            <section class="footer-links">
                <h3>Useful Links</h3>
                <ul>
                    <li><a href="{{ url_for('contact_page') }}">Contact Us</a></li>
                    <li><a href="{{ url_for('about_page') }}">About Us</a></li>
                    <li><a href="{{ url_for('view_bookings') }}">View Bookings</a></li>
                    <li><a href="{{ url_for('review') }}">Leave a Review</a></li>
                </ul>
            </section>
            <section class="footer-auth">
                {% if g.admin != None %}
                    <p><a href="{{ url_for('logout') }}">Admin - Log Out &#x2192;</a></p>
                {% elif g.employee != None %}
                    <p><a href="{{ url_for('logout') }}">Employee - Log Out &#x2192;</a></p>
                {% elif g.user == None %}
                    <p><a href="{{ url_for('login') }}">Log In &#x2192;</a></p>
                {% else %}
                    <p><a href="{{ url_for('logout') }}">Log Out &#x2192;</a></p>
                {% endif %}
            </section>
        </div>
        <p class="footer-note">© 2024 Anois National Zoo. All Rights Reserved.</p>
    </footer>
</section>

{% endblock %}
