{% extends "base.html" %}

{% block main_content %}

<section id="animals_page">
    
     
    <nav>
        <ul>
            <li><a id="refresh" href="{{ url_for('index')}}">↻</a></li>
            {% if g.admin != None %}
                <li><a href="{{ url_for('admin_page') }}">Admin Page</a></li>
            {% elif g.employee != None %}
                <li><a href="{{ url_for('employee_page') }}">Employee Page</a></li>
            {% endif %}
            <li><a href="{{ url_for('index') }}">Homepage</a></li>
            <li><a href="{{ url_for('donate') }}">Donate</a></li>
            <li><a href="{{ url_for('bookings')}}">Book Tickets &#x2192</a></li>
        </ul>
    </nav>


    <main>
        <section id="animals_habitats"> 
            <section id="animals_form">
                <form method="POST" action="" novalidate>
                    {{ form.hidden_tag() }}
                    {{ form.habitats.label }}
                    {{ form.habitats(class="form-control") }}
                    <br />
                    {{ form.submit()}}
                </form>
            </section>
        </section>

        <section id="animals_section">
            <h2>Our Animals</h2>
            <section id="all_animals">
                {% for animal in animals %}
                    <section class="animal" class="gallery">
                        <section class="gallery_item">
                            <img class="gallery_image" src="{{ animal['image'] }}" alt="">
                            <section class="image_desc">
                                <p>Name: {{ animal["name"] }}</p>
                                <p>Species: {{ animal["species"] }}</p>
                                <p>Exhibit: {{ animal["habitat"] }}</p>
                            </section>
                        </section>
                    </section>
                {% endfor %}
            </section>
        </section>
    </main>

    <footer>
        <section>
            <h2>Useful Links</h2>
            <ul>
                <li><a href="{{ url_for( 'contact_page') }}">Contact us</a></li>
                <li><a href="{{ url_for( 'about_page') }}">About us</a></li>
                <li><a href="{{ url_for( 'view_bookings') }}">Bookings</a></li>
                <li><a href="{{ url_for( 'review') }}">Leave a review</a></li>
            </ul>
        </section>


        {% if g.admin != None %}
            <p id="logout"><a href="{{ url_for('logout') }}">Admin - Log out &#x2192</a></p>
        {% elif g.employee != None %}
            <p id="logout"><a href="{{ url_for('logout') }}">Employee - Log out &#x2192</a></p>
        {% elif g.user == None %}
            <p id="login"><a href="{{ url_for('login') }}">Log in &#x2192</a></p>
        {% else %}
            <p id="logout"><a href="{{ url_for('logout') }}">Log out &#x2192</a></p>
        {% endif %}
        <p> Copyright © All About: Anois National Zoo. All Rights Reserved</p>


    </footer>
</section>

{% endblock %}