{% extends "base.html" %}

{% block main_content %}

<section id="reviews_page">
    
     
    <nav>
        <ul>
            <li><a id="refresh" href="{{ url_for('reviews')}}">↻</a></li>
            {% if g.admin != None %}
                <li><a href="{{ url_for('admin_page') }}">Admin Page</a></li>
            {% elif g.employee != None %}
                <li><a href="{{ url_for('employee_page') }}">Employee Page</a></li>
            {% endif %}
            <li><a href="{{ url_for('index') }}">Homepage</a></li>
            <li><a href="{{ url_for('donate') }}">Donate</a></li>
            <li><a href="{{ url_for('bookings')}}">Book Tickets &#x2192</a></li>
        </ul>
    </nav>

    <main id="reviews_main">
        <section id="reviews_options"> 
            <section>
                <form method="POST" action="" novalidate>
                    {{ form.hidden_tag() }}
                    {{ form.options.label }}
                    {{ form.options() }}
                    <br />
                    {{ form.submit()}}
                </form>
            </section>
        </section>

        <section id="reviews_section">
            <h2>All reviews</h2>
            <section id="all_reviews">
                {% for review in reviews %}
                    <section class="review">
                        <p>Name: {{ review["name"] }}</p>
                        <p >{{ review["review"] }}</p>
                        <p>Stars: {{ '★' * review["stars"]}}</p>
                    </section>
                {% endfor %}
            </section>
            <p class="links"><a href="{{ url_for('review') }}">Write a review  &#x2192</a></p>
        </section>
    </main>

    <footer class="site-footer">
        <div class="footer-content">
            <section class="footer-links">
                <h3>Useful Links</h3>
                <ul>
                    <li><a href="{{ url_for('contact_page') }}">Contact Us</a></li>
                    <li><a href="{{ url_for('about_page') }}">About Us</a></li>
                    <li><a href="{{ url_for('view_bookings') }}">View Bookings</a></li>
                    <li><a href="{{ url_for('review') }}">Leave a Review</a></li>
                </ul>
            </section>
            <section class="footer-auth">
                {% if g.admin != None %}
                    <p><a href="{{ url_for('logout') }}">Admin - Log Out &#x2192</a></p>
                {% elif g.employee != None %}
                    <p><a href="{{ url_for('logout') }}">Employee - Log Out &#x2192</a></p>
                {% elif g.user == None %}
                    <p><a href="{{ url_for('login') }}">Log In &#x2192</a></p>
                {% else %}
                    <p><a href="{{ url_for('logout') }}">Log Out &#x2192</a></p>
                {% endif %}
            </section>
        </div>
        <p class="footer-note">© 2024 Anois National Zoo. All Rights Reserved.</p>
    </footer>
</section>

{% endblock %}